.productItem {
  margin-top: 0.5rem;
  display: inline-flex;
  flex: 1;
  /*background-color: orange;*/
  justify-content: space-between;
}

.productItemPrice {
  display: flex;
}

.productItemMeasure {
  display: flex;
}

.productsContainer {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.totalContainer {
  display: inline-flex;
  flex: 1;
  width: 100%;
  padding: 2rem;
  flex-direction: row;
}
.totalContainer div {
  display: flex;
  flex: 1;
  justify-content: space-between;
}