.container {
  padding: 0 2rem 4rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
}


.tabContainer {
  /*display: flex;*/
}

.marginTop {
  margin-top: 1rem;
}

.lastProductBlock {
  text-align: left;
  margin: 0 2rem 1rem ;
  border-bottom: 1px solid #CCCCCC;
}