.navbar {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  padding: 1rem;
  z-index: 999;
}

.navbarContainer {
  display: flex;
}

.navbarHeaderTitle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.navbarHeaderTitle h1 {
  font-size: 1.2rem;
}
.navbarLeft {
  width: 30px;
}

.navbarRight {
  width: 30px;
}
