.productItem {
  border: 1px solid #CCC;
  /*padding: 1rem;*/
  margin-right: 0.7rem;
  margin-bottom: 1rem;
  cursor: pointer;
  display: inline-block;
  width: 121px;
}

.productMeta {

}
.productItem h2 {
  font-size: 1rem
}

.imageContainer {
  /*text-align: center;*/
}